*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 0px auto;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-body{
  flex: 1;
}

#login{
  background-image: url('../../../public/images/form-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login form{
  backdrop-filter: blur(5px);
  border: 1px solid rgba(123, 123, 123, 0.311);
  box-shadow: 4px 4px 10px 15px rgba(4, 0, 111, 0.3);
  display: flex;
  flex-direction: column;
  padding: 60px;
  border-radius: 2rem;
}

#login label{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
}

#login h2{
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 800;
}
#login input{
  border:#000000 2px solid;
  margin-top: 10px;
  padding: 15px;
  width: 200px;
  height: 10px;
  border-radius: 0.5rem;
}

#login button{
  width: 70px;
  padding: 2.5px;
  padding: 8px;
  background-color: rgb(28, 28, 247);
  border-radius: 0.5rem;
  border: transparent;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#login button:hover{
  background-color : rgb(0, 0, 255);
}

#login span{
  font-style: italic;
  font-size: 13.5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.629);
}

.form-button{
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}


#signup{
  background-image: url('../../../public/images/form-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signup form{
  backdrop-filter: blur(5px);
  border: 1px solid rgba(123, 123, 123, 0.311);
  box-shadow: 4px 4px 10px 15px rgba(4, 0, 111, 0.3);
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 2rem;
}

#signup h2{
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 800;
}

#signup label{
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
}

#signup input{
  border:#000000 2px solid;
  padding: 15px;
  margin-top: 10px;
  width: 200px;
  height: 10px;
  border-radius: 0.5rem;
}

#signup button{
  width: 70px;
  padding: 2.5px;
  padding: 8px;
  background-color: rgb(28, 28, 247);
  border-radius: 0.5rem;
  border: transparent;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#signup button:hover{
  background-color : rgb(0, 0, 255);
}

#signup span{
  font-style: italic;
  font-size: 13.5px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.629);
}

.error{
  font-size: 10px;
  font-weight: 550;
  color: red;
}

.nav{
  padding:15px 30px;
  background-color: transparent;
  border: transparent 1px;
}
.nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container img{
  height: 40px;
}

.menu-bar, .menu-x{
  display: none;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.link{
  text-decoration: none;
  color:#000000;
  font-weight: 600;
}

.link:hover{
  color: rgb(253, 83, 21);
  transition: ease-in-out 0.5s;
}

.nav-user-logout{
  display: flex;
  gap: 20px;
  border:1px transparent ;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  backdrop-filter: blur(10px);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.user-label{
  display: flex;
  gap: 10px;
}

.usericon{
  font-size: 20px;
  color: blue;
}
.user-label span{
  font-weight: 550;
  color: #000000;
}

.nav-link button{
  padding: 10px;
  font-weight: 600;
  color: white;
  background-color: rgb(231, 2, 2);
  border: transparent;
  border-radius: 0.5rem;
}

.nav-link button:hover{
  background-color: rgb(255, 2, 2);
}

.logout-toast p{
  color: #000000d0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 550;
}

.logout-toast button{
  color:rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
  font-weight: 550;
  padding: 5px 15px;
  border: transparent;
  border-radius: 1.5rem;
  margin-right: 10px;
  background-color:  #038bd9e0;
  margin-bottom: 10px;
}

footer{
  background-color: #038bd9e0;
}

.footer-con{
  display: flex;
  padding: 30px 30px;
  height: 250px;
  justify-content: space-between;
  color: #000000b2;
  font-weight: 600;
}

.footer-con h2{
  color: #000000;
  font-size: 18px;
  padding-bottom :10px;
  font-weight: 800;
}

.footer-about{
  max-width: 300px;
}

.footer-about p{
  font-size: 14px;
  line-height: 1.5rem;
}
.footer-about img{
  height: 30px;
  padding-bottom: 10px;
}

.footer-link{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 15px;
  text-decoration: none;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}


.quicklink-ftr{
  color: #000000b2;
  text-decoration: none;
}

.quicklink-ftr:hover{
  color: #000000;
}

.link-ftr{
  font-size: 20px;
  color: #000000b2;
}

.link-ftr:hover{
  color: black;
}

.social-link{
  flex-direction: column;
  gap: 10px;
}

.copyright-ftr{
  color: #000000b2;
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/images/home.png'); 
  background-size: cover;
  background-position: center; 
  z-index: -1; 
}

.home{
  padding: 40px;
  height: 100vh;
}

.home h1{
  margin: 40px 0px;
  font-size: 70px;
}

.home span{
 color:  #038bd9e0;
}

.home p{
  font-size: 22px;
  font-weight: 550;
  color: #000000c6;
  line-height: 2.3rem;
  letter-spacing: 0.5px;
  width: 40%;
}

.home h3{
  font-size: 30px;
  margin: 30px 0px;
}

.home button{
 font-size: 25px;
 padding: 13px 30px;
 border-radius: 1rem;
 background-color:  #038bd9e0;
 color: white;
 font-weight: 600;
 border: transparent;
 cursor: pointer;
}

.job-heading{
 text-align: center;
 font-size: 35px;
 font-weight: 800;
 color: #038bd9e0;
 padding: 10px;
}
.job-heading span{
  color: rgba(255, 68, 0, 0.853);
}
.job-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
.job-box{
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
  width: 300px;
  background: rgba(255, 255, 255, 0.753);
  backdrop-filter: blur(5px);
  justify-content: center;
  margin: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  align-items: center;
  margin-bottom: 20px;
}

.job-box p{
  font-size: 20px;
  font-weight: 550;
  color: #000000cd;
}

.job-box button{
  width: 100px;
  padding: 8px 13px;
  border-radius: 1.5rem;
  border: transparent;
  background-color:#00a2ffe0;
  color: white;
  font-weight: 550;
  cursor: pointer;
}

.job-box button:hover{
  background-color:#2fb2fee0;
}

.job-top-portion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.sort-dropdown{
  padding: 5px 10px;
  border: transparent;
  border-radius: 1.5rem;
}

#application-form{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
}

#application-form label{
  width: 450px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
}

#application-form form{
  backdrop-filter: blur(5px);
  border: 1px solid rgba(123, 123, 123, 0.311);
  box-shadow: 0px 0px 10px 0px rgba(4, 0, 111, 0.3);
  display: flex;
  flex-direction: column;
  padding: 50px  100px;
  border-radius: 2rem;
}

#application-form h1{
 text-align: center;
 font-size: 35px;
 margin-bottom: 20px;
 font-weight: 800;
 color: #038bd9e0;
 padding: 10px;
}
.radio-btn{
  width: unset;
  max-width: 30px;
}

#application-form input{
  border:#000000 2px solid;
  margin-top: 10px;
  padding: 15px;
  width: 300px;
  height: 10px;
  border-radius: 0.5rem;
}

#application-form button{
  width: 70px;
  padding: 2.5px;
  padding: 8px;
  background-color: rgb(28, 28, 247);
  border-radius: 0.5rem;
  border: transparent;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#application-form button:hover{
  background-color : rgb(0, 0, 255);
}

.myapplication-heading{
 text-align: center;
 font-size: 35px;
 font-weight: 800;
 color: #038bd9e0;
 padding: 10px;
}
.application-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
}
.application-box{
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
  background: rgba(255, 255, 255, 0.753);
  backdrop-filter: blur(5px);
  justify-content: center;
  margin: 1px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 1.5rem;
  align-items: center;
  margin-bottom: 20px;
}

.application-box h2{
  color: #000000;
}

.application-box p{
  font-weight: 550;
  color: #000000b2;
}

.application-box span{
  color: orangered;
}

.about{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  flex: 1;
  width: 85%;
  padding-bottom: 100px;
}

.about h1{
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: #038bd9;
  padding: 10px;
  margin-bottom: 30px;
}

.about h2{
  font-size: 25px;
  color: #038bd9;
  margin: 25px 0px;
}

.about p{
  line-height: 2rem;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 600;
  color: #000000bb;
}

.about li{
  list-style: unset;
  font-size: 15px;
  font-weight: 550;
  margin: 10px 0px 20px 50px;
  color: #000000cc;
}

.about ul{
  display:unset;
}

@media (max-width : 850px) {
 
.nav-container img{
  height:27px;
}

.nav-link{
  gap: 15px;
}

.nav-link li{
 font-size: 13px;
}

.nav-link button{
  font-size: 10px;
  padding: 8px;
}

.nav-user-logout{
  gap: 10px;
  padding: 8px 10px;
}

.user-label svg{
  font-size: 13px;
}

.home h1{
 font-size: 60px;
 margin: 30px 0px;
}

.home h3{
 font-size: 22px;
}

.home p{
  font-size: 18px;
  width: unset;
  max-width: 500px;
}

.home button{
 padding: 10px 25px;
 font-size: 22px;
}

.footer-about p{
  font-size: 12px;
  max-width: 250px;
}

.footer-link{
  gap: 10px;
}

.footer-con h2, .link-ftr{
  font-size: 15px;
}

.quicklink-ftr, .contact li, .copyright-ftr{
  font-size: 12px;
}

}

@media (max-width: 700px){

.menu-bar, .menu-x{
  display: unset;
  cursor: pointer;
  font-size: 20px;
}

.nav-link.show{
  transform: translateX(0);
  transition: 0.3s ease-in-out;
}

.nav-link{
  flex-direction: column;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  background-color: #5ac1fd;
  padding:  60px 30px;
}

.nav-link li{
  padding: 15px 20px;
}

.menu-x{
  position: relative;
  top: -30px;
  right: 55px;
  font-size: 25px;
}

.nav-user-logout{
  flex-direction: column;
  background-color: #ffffff;
  gap: 15px;
}

.user-label{
  gap: 5px;
}

.footer-con{
 flex-direction: column;
 height: unset;
 gap: 30px;
}

.footer-con h2{
  padding: 0px 10px 0px 0px;
}

.footer-about, .footer-about p{
  max-width: unset;
}

.footer-link {
  display: none;
}

.social-link{
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
}

@media (max-width: 470px){
 
#login form, #signup form{
 padding: 30px;
}

#login, #signup{
  height: 100dvh;
}

.home h1{
 font-size: 45px;
}

.home p, .home h3, .home button{
  font-size: 18px;
}

.job-list{
 grid-template-columns: unset;
}

.job-box, .application-box{
  width: 250px;
}

.job-box h2, .application-box h2{
  font-size: 17px;
}

.job-box p, .application-box p{
  font-size: 15px;
}

.job-heading, .myapplication-heading, .about h1{
  font-size: 28px;
}

.about h2{
 font-size: 20px;
}

.about p{
  font-size: 16px;
}

}
